* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 40vh;
}

button {
    padding: 20px 40px;
    border-radius: 4px;
    border: none;
    background-color: #a9a9a9;
    color: #fff;
    margin-top: 3%;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #867f7f;
}

.copia {
    display: none;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    transition: transform 0.5s;
}

.copia:hover {
    transform: scale(1.05);
}